 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-12">
                    <p> The Drokmo team currently consists of Pelyoun and Kaysang.
Kaysang began her involvement in the Tibetan movement when she was 15 through the
Students of a Free Tibet. She studied literature at the University of Delhi. She co-founded the
Tibetan Feminist Collective in 2015 and published a collection of poetry called ‘broken portraits’
in 2016. She has previously worked at the GuChuSum Movement of Tibet as a junior researcher
and translator, the Tibet Fund as Program Associate for Education and Women’s
Empowerment, and the Social and Resource Development Fund of the Central Tibetan
Administration as Project Officer for the USAID TSRR Program.
Pelyoun completed her Masters in Social Work specializing in Criminology and Justice
from the Tata Institute of Social Sciences, Mumbai. Her professional career began as National
Fellow in the National Rural Livelihoods Mission, Govt of India in 2014. She also served as a
Program Officer for Women&#39;s Empowerment and Community Development at The Tibet Fund.
                    </p>
                </div>
                <div class="col-lg-12 text-center">
                    <h3>Our work is made possible with the support of The Tibet Fund.</h3>
                </div>
            </div>
        </div>
    </section>
