 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>E-Mail</h2>
                    <div class="underline">
                        <img src="img/pata-dark.png" alt="">

                    </div>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                   
                </div>
                <div class="col-lg-12 text-center">
                     <p>drokmo.in@gmail.com</p>
                     <p> tibetangsp@gmail.com</p>
                </div>
               
            </div>
        </div>
    </section>