
    <!-- Portfolio Grid Section -->
    <section id="goals" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Mission & Goals</h2>
                    <div class="underline">
                        <img src="img/pata.png" alt="">

                    </div>
                    <br><br>
                </div>
                <div class="col-lg-12 text-center ">
                    <h3>We engage in grassroots efforts to:</h3>
                </div>
            </div>
            <div class="row jumbotron" id="goal">
                <div class="col-sm-4  goals" >
                     <p>
                         Advocate for and facilitate education and interventions on comprehensive sexuality health and sexual- & gender-based violence
                     </p>
                </div>
                <div class="col-sm-4  goals">
                     <p>
                         Increasing access to quality health, education and employment for women and girls from the most underserved sections of the Tibetan community; and
                     </p>
                </div>
                <div class="col-sm-4 goals">
                     <p>
                         Providing safe spaces for survivors of violence.

                     </p>
                </div>
            </div>
        </div>
    </section>

