 <!-- About Section -->
    <section class="" id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-12">
                    <div class="col-md-4">
                        <h3>Comprehensive Sexuality Health Education</h3>
                    </div>
                    <div class="col-md-8">
                        <p>
                            In 2018, we began our work on Comprehensive Sexuality Health Education by developing a unique curriculum for Responsible Menstrual Health Management and Introduction to Gender and Violence for children of ages 10 and above studying in Tibetan schools around the Indian subcontinent. We spoke on these topics with 489 boys and girls of grades 6-12 in 4 Sambhota Tibetan Schools (STS) in Tezu, Miao, Tenzingang and Sonada, and 2 Central Tibetan Schools (CTS) in Darjeeling and Kalimpong.
Under this program, we have also distributed Menstrupedia comic books to these schools. Menstrupedia is a colorful, fun and accessible guide to menstruation for young boys and girls.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h3>Girls Scholarship and Livelihoods Program</h3>
                    </div>
                    <div class="col-md-8">
                      <p>
                           The Tibetan Girls Scholarship Program was initiated in summer 2018 with funding from The Tibet Fund. GSP aims to provide support for girls with limited resources to pursue higher education and professional studies, regardless of academic excellence. 
12 applicants out of 60 were selected jointly by Drokmo and The Tibet Fund to receive scholarship in 2018 based primarily on economic vulnerability. Of these, 3 girls are from Tibet, 2 from Nepal and 7 from settlements around India. They are studying in India in a variety of fields, such as Fashion Design, Tibetan Studies, Business Administration, and Law. GSP covers full tuition fees of up to INR 40,000 per annum for degree programs, technical skills programs and diploma programs, and up to INR 60,000 per annum for professional studies, in addition to which, INR 7,500 per month per academic year is provided as daily allowance to cover basic living expenses.
We believe that to for GSP recipients to fully manifest their potential at the end of the Girls Scholarship Program, the financial support for access to higher education must be reinforced by trainings and mentorship to create a wholistic support system. Therefore, we are developing a network of professional mentors and facilitating skills training. We can thereby ensure that the recipients of the Girls Scholarship Program are also equipped with skills to enhance their professional development and increase their chances of employment, by expanding the program to Girls Scholarship and Livelihoods Program. 

                      </p>
                    </div>

                    <div class="col-md-4">
                        <h3>Research and Information</h3>
                    </div>
                    <div class="col-md-8">
                       <p>
                           Drokmo recognizes both the absence pertinence of research and information on issues of sexual and reproductive health and rights, and sexual and gender based violence in the Tibetan exile community. We also believe that evidence-based work is key to ensuring that we fulfill the needs of the community. Hence, filling in the huge gaps in information is a priority for us.
In 2018, we conducted baseline surveys to assess the knowledge, perceptions, practices and status of menstrual health management and sexual- and gender-based violence with 489 students of STS Miao, Tezu, Tenzingang and Sonada, and CTS Darjeeling and Kalimpong. 
In 2019, as part of education on Responsible Menstrual Health Management, Drokmo is conducting a pilot program of introducing washable cloth pads to 70 girls in 2 schools, through which we will assess the feasibility of introducing washable cloth pads as safer, more environmentally-friendly alternatives to disposable pads in schools. This will allow us to either expand the program, or explore other methods to reduce waste produced through the disposal of sanitary pads. Part of the program will also be to explore and work on disposal mechanisms depending on the location of the different schools.
                       </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
